<html>
<head>
<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="angular_controller/cart_controller.js" type="text/javascript"></script>
	<style>
</style>
<link rel="stylesheet" type="text/css" href="styles/cart.css"/>
</head>
	<body ng-app="cart" ng-controller="cart">
		<div   id="cart">
			<img ng-repeat="prod in prodList" ng-src="{{ prod }}" height="140" width="100" border=1/>
			<input type="button" class="place_order_button"  value="Place Order" ng-click="placeOrder()"></input>
		</div>

	</body>
</html>