<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="angular_controller/item_list_controller.js" type="text/javascript">
	</script>
<link rel="stylesheet" type="text/css" href="styles/table.css"/>

</head>

	<body ng-app="item_list" ng-controller="items">
		<input type="text" id="count" ng-model="count"></input>
		<input type="button" class="go_to_cart_button" ng-show="cart_button" value="Go To Cart" ng-click="goToCart()"></input>
		<div>
			<table id="items" >
				<tr>
					<td>
						<img src="product_images/1.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('1.jpg')"></input>
					</td>
					<td>
						<img src="product_images/2.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('2.jpg')"></input>
					</td>
					<td>
						<img src="product_images/3.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('3.jpg')"></input>
					</td>
					<td>
						<img src="product_images/4.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('4.jpg')"></input>
					</td>
					<td>
						<img src="product_images/5.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('5.jpg')"></input>
					</td>
					<td>
						<img src="product_images/6.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('6.jpg')"></input>
					</td>
				</tr>
				<tr>
					<td>
						<img src="product_images/7.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('7.jpg')"></input>
					</td>
					<td>
						<img src="product_images/8.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('8.jpg')"></input>
					</td>
					<td>
						<img src="product_images/9.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('9.jpg')"></input>
					</td>
					<td>
						<img src="product_images/10.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('10.jpg')"></input>
					</td>
					<td>
						<img src="product_images/11.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('11.jpg')"></input>
					</td>
					<td>
						<img src="product_images/12.jpg">
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng-click="addToCart('12.jpg')"></input>
					</td>

				</tr>
			</table>
			
		</div>
	</body>
</html>