<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="angular_controller/item_list_controller.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="styles/table.css"/>


	
</head>
	
	<body ng-app="item_list" ng-controller="items as it">
				<input type="button" class="go_to_cart_button" ng-show="cart_button" value="Go To Cart" ng-click="goToCart()"></input>
				<input type="button" ng-click="log()"></input>
				<input type="input" ng-model="length"/>
		<div ng-repeat="img in images">
			<table id="items" >
				<tr ng-repeat="n in range(0,1)">
					<td ng-repeat="img in images" ng-init="$parent.	$index=$index+2" ng-if="$index==0 || $index%2!=0">
 						<img ng-src="{{ img }}"/>
						<input type="button" class="add_to_cart_button" value="Add To Cart" ng:click="addToCart(img)"></input>
 						{{ $parent.$index }}		
					</td>
				</tr>


			</table>
			
		</div>
	</body>
</html>