table, td, th {
    border: 1px solid black;
    width: 25%;
    text-align: center;

}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    height: 150px;
    text-align: center;
}

div 	{
				width: 90%;
				height: 90%;
			    position: absolute;
			    top:40%;
			    text-align: center;
			    display: inline-block;
			    vertical-align: middle;
			    border: 1px solid blue;	
			    bottom: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
		}

.add_item_button 
		{
			    width: 20%;
			    padding: 12px 20px;
			    margin: 8px;
			    margin-top: 5%;
			    margin-left: 4%;
			    align:center;
			    box-sizing: border-radius;
			    border: 1px solid blue;
			    border-radius: 4px;
		}